[submodule "app-controller/Firmware/external/bluepad32"]
	path = app-controller/Firmware/external/bluepad32
	url = https://github.com/ricardoquesada/bluepad32.git
[submodule "app-controller/Firmware/external/tinyusb"]
	path = app-controller/Firmware/external/tinyusb
	url = https://github.com/hathach/tinyusb.git
[submodule "app-controller/Firmware/external/Pico-PIO-USB"]
	path = app-controller/Firmware/external/Pico-PIO-USB
	url = https://github.com/wiredopposite/Pico-PIO-USB.git
[submodule "app-controller/Firmware/external/libfixmath"]
	path = app-controller/Firmware/external/libfixmath
	url = https://github.com/PetteriAimonen/libfixmath.git
